<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">

    <title>Check In</title>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.4/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionic/1.3.2/css/ionic.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ionic/1.3.2/js/ionic.bundle.min.js"></script>
</head>
<!---http://embed.plnkr.co/H5n7SM/-->

<body ng-app="des" style="font-family: sans-serif;">
    <div ng-controller="main">
        <center>
            <div class="card">
                <div class="item item-divider">
                    Download Signups
                </div>
                Click the download button to download all signup data into the app
                <br>
                <button class="button button-positive" ng-click="downloadSignupsData()">Download</button>
                <div>
                    <table>
                        <tr style="font-size:.9em;" ng-repeat="x in signupDownloadLog">
                            <td>{{x}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </center>
    </div>
</body>

<script src="https://www.gstatic.com/firebasejs/4.10.1/firebase.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.10.1/firebase-firestore.js"></script>
<script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyDBqtZ9lTe5NI05hXcKeXvQAQwpJXYR_ys",
        authDomain: "des-app-6b779.firebaseapp.com",
        databaseURL: "https://des-app-6b779.firebaseio.com",
        projectId: "des-app-6b779",
        storageBucket: "des-app-6b779.appspot.com",
        messagingSenderId: "637924232969"
    };
    var desapp = firebase.initializeApp(config);
    var db = desapp.firestore();
    console.log(db);
</script>

<script>
    var app = angular.module('des', ['ionic']);
    var APIKEY = 'a21vNHk3YndKWHpxVTBnTlNGOW1tdz09';
    var APIBASE = 'https://api.signupgenius.com/v2/k/';
    var URLBASE = "http://des.pixelperfect-apps.com/api/index.php/";


    app.controller('main', function ($scope, $http, $q, $state, $timeout, $ionicPopup, $rootScope, $ionicLoading) {
        $scope.signups = [];
        $scope.signupsData = [];
        $scope.signupDownloadLog = [];
        var allPromises = [];
        var signup = [];

        $scope.downloadSignupsData = () => {
            getSignups()
                .then(x => {
                    console.log(x);
                    loadAllSignupData();
                })
                .catch(e => {
                    console.error(e)
                });
        }

        var getSignupData = (id) => {
            return new Promise((resolve, reject) => {
                $http({
                        method: "GET",
                        url: `${APIBASE}signups/report/all/${id}/?user_key=${APIKEY}`
                    })
                    .then(
                        res => {
                            if (res && 'data' in res) {
                                let signup = res['data'];
                                $scope.signup = ('data' in signup) ? signup['data'] : signup;
                                //console.log($scope.signup);
                                resolve($scope.signup);
                            }
                        },
                        err => {
                            console.log(err);
                            reject(err);
                        }
                    )
            })
        }

        var getSignups = () => {
            return new Promise((resolve, reject) => {
                $http({
                        method: "GET",
                        url: `${APIBASE}signups/created/active/?user_key=${APIKEY}`
                    })
                    .then(
                        res => {
                            if (res && 'data' in res) {
                                let signups = res['data'];
                                $scope.signups = ('data' in signups) ? signups['data'] : signups;
                                console.log('$scope.signups', $scope.signups);
                                resolve($scope.signups);
                            }
                        },
                        err => {
                            //TODO alert the user of failed download
                            console.error(err);
                            reject(err);
                        }
                    )
            })
        }

        var clearStorage = (collection) => {
            let allDeletePromises = [];
            return new Promise((resolve, reject) => {
                db.collection(collection).get().then(docs => {
                    docs.forEach(doc => {
                        console.log(`Removing document ${doc.id}`);
                        allDeletePromises.push(
                            db.collection(collection).doc(doc.id).delete()
                        );
                    });
                });
                Promise.all(allPromises)
                .then(()=>resolve('All Done'))
                .catch(()=>reject())
            })
        }

        var loadAllSignupData = () => {
            $scope.signups.forEach(signup => {
                $scope.signupDownloadLog.push(`${signup.title}`);
                allPromises.push(getSignupData(signup.signupid));
            });
            Promise.all(allPromises, clearStorage("signups"))
                .then(vals => {
                    console.log('all signups', vals);
                    $scope.signupsData = _.flatMap(vals, x => x.signup);
                    console.log('signupsData', $scope.signupsData);
                    
                    $scope.signupsData.forEach(signup => {
                        if(!signup.itemmemberid || signup.itemmemberid == '') return;
                        db.collection("signups")
                        .doc(`${signup.signupid}.${signup.slotitemid}.${signup.itemmemberid}`)
                        .set(signup)
                        .then(function () {
                            //console.log("Document written with ID: ", `${signup.signupid}.${signup.slotitemid}.${signup.itemmemberid}`, signup);
                            console.log("Document written with ID: ", `${signup.signupid}.${signup.slotitemid}.${signup.itemmemberid}`);
                            $scope.signupDownloadLog.push(`Document written with ID: ${signup.signupid}.${signup.slotitemid}.${signup.itemmemberid}`);
                        })
                        .catch(function (error) {
                            console.error("Error adding document: ", error);
                        });
                    });
                    $scope.signupDownloadLog.push('ALL DONE! - Do the happy dance :o)');
                })
                .catch(err => {
                    console.error(err);
                })
        }

        
    })
</script>

</html>