<!-- <ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content class="bckgrd">
  <ion-slides [autoplay]=5000 [loop]=true class="home-slider" style="height: 35%">
    <ion-slide class="slide1">
    </ion-slide>
    <ion-slide class="slide2">
    </ion-slide>
    <ion-slide class="slide3">
    </ion-slide>
    <ion-slide class="slide4">
    </ion-slide>
    <ion-slide class="slide5">
    </ion-slide>

  </ion-slides>
  <ion-grid padding>
    <ion-row class="first">
      <ion-col>
        <button ion-button class="home-icon" (click)="scan()">
          <i class="fas fa-qrcode fa-5x"></i>
          <div style="font-size:.9em;">Scan Attendance</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button class="home-icon" style="background-color: #FF5722;" (click)="goInsight()">
          <i class="fas fa-users fa-5x"></i>
          <div style="font-size:.9em;">Book Appointment</div>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div text-center>
    <button text-center ion-button *ngIf="!isStudentRegistered()" (click)="presentLoginPrompt()">
      Register to view your sessions
    </button>
  
  <ion-list inset *ngIf="isStudentRegistered()">
    <!-- <div class="sessions-header">Sessions</div> -->
    <ion-item-divider color="primary">
      <p item-start>Sessions for <strong>{{dataService.data.student.email}}</strong></p>
      <button ion-button item-end outline color="light" (click)="presentLoginPrompt()">Change</button>
    </ion-item-divider>
    <ion-item *ngFor="let d of my_sessions"  (click)="sessionInfo(d)">
      <div class="session_date">{{getDay(d.startdatestring)}}
        <Br>{{getMonth(d.startdatestring)}}</div>
      <h2 style="margin: 0px 0 2px 0;">{{d?.item}}</h2>
      <p style="font-size: .8em">
        <span class="session_fromnow">{{getTime(d.startdatestring)}}</span>
        &middot;
        <span class="session_location">{{d?.location}}</span><br>
        <span>{{d?.comment}}</span>
      </p>
    </ion-item>
  </ion-list>
</div>
</ion-content>
<div class="appInfoBar" [innerHtml]="appInfo"> DES App v0.1</div>
