page-home {
  %slides-base {
    background-size: cover;
    height: 100%;
  }
  .slide1 {
    background-image: url(../assets/imgs/slide1.jpg);
    @extend %slides-base;
  }
  .slide2 {
    background-image: url(../assets/imgs/slide2.jpg);
    @extend %slides-base;
  }
  .slide3 {
    background-image: url(../assets/imgs/slide3.jpg);
    @extend %slides-base;
  }
  .slide4 {
    background-image: url(../assets/imgs/slide4.jpg);
    @extend %slides-base;
  }
  .slide5 {
    background-image: url(../assets/imgs/slide5.jpg);
    @extend %slides-base;
  }
  .home-icon {
    border-radius: 4px;
    width: 90%;
    height: 90%;
    margin: 5%;
    padding: 10%;
  }
  
  .button-inner {
    flex-flow: row wrap !important;
  }

  .session_date {
    height: 50px;
    float: left;
    width: 60px;
    font-size: 20px;
    background-color: #2d2d2d;
    text-align: center;
    padding: 0px;
    margin-right: 5px;
    border-radius: 3px;
    color: white;
  }

  .sessions-header{
    color: whitesmoke;
  }

  .session_fromnow{
    color: #488aff;
    font-weight: 500;
  }

  .session_location{
    color: tomato;
  }
}
